name: Go package
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis
        env:
          POSTGRES_HOST_AUTH_METHOD: trust  
          POSTGRES_DB: stampwallet
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Vet
        continue-on-error: true
        run: go vet ./...
      - name: Test
        run: go test -v ./...
        env: 
          TEST_DATABASE_URL: "postgres://postgres@localhost/stampwallet"
          TEST_DATABASE_NAME: "stampwallet"
      - name: Build
        run: go build -v ./...
